:root {
  --gray-color: rgb(170, 170, 170);

  --gray-background: rgb(220, 220, 220);

  --gray-body-background: rgb(235, 235, 235);
}

body {
  background: var(--gray-body-background);

  font-family: "Poppins", sans-serif;

  margin: 0px;
}

p {
  font-weight: 400;
  font-size: 10px;

  text-align: center;

  margin: 30px 4px;

  color: rgb(100, 100, 100);
}

h2,
h3 {
  text-align: center;
}

.icon {
  display: flex;
  justify-content: center;
}

.icon > div {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 55px;
  height: 55px;

  border-radius: 50%;

  background: var(--gray-background);
}

.icon img {
  width: 40px;
  height: 40px;
}

.region-button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 20px;
  width: 20px;

  margin: 4px;
  padding: 4px;

  background: black;
  border-radius: 4px;

  color: white;
  font-size: 12px;

  text-transform: uppercase;
}

#TOP_CONTAINER {
  display: flex;
  flex-direction: column-reverse;
}

#MID_CONTAINER {
  margin: 70px 8px 0px;
}

#BOT_CONTAINER {
  margin: 0px;
}

#TOP_BAR {
  height: 15px;
  width: 125px;

  left: 144px;
  top: 26px;

  margin: 30px 0px;

  border-radius: 0px;

  background: var(--gray-background);
}

#HEIMER_IMG {
  max-width: 100%;
  height: auto;
}

#SUMMONER_SEARCHER {
  margin: 0px 8px;
}

#SUMMONER_SEARCHER > div:nth-child(2) h1 {
  text-align: center;

  font-weight: 800;
  font-size: 30px;

  margin: 30px 0px;
}

#SUMMONER_SEARCHER > div:nth-child(4) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#SUMMONER_SEARCHER > div:nth-child(4) > div:first-child {
  position: relative;

  display: flex;
  flex-direction: row;

  width: 90%;
  height: 35px;

  align-items: center;

  border: 1px solid var(--gray-color);
  border-radius: 8px;

  gap: 8px;

  margin-bottom: 12px;
  padding: 0px 6px;

  background: white;

  font-family: "Poppins", sans-serif;
}

#DROPDOWN_BUTTON {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-width: 0px;
  padding: 0px;
  margin: 0px;

  background: none;
}

#DROPDOWN_WINDOW.not-showing {
  display: none;
}

#DROPDOWN_WINDOW {
  position: absolute;
  display: flex;
  flex-direction: column;

  top: 45px;
  left: 0px;

  gap: 6px;

  width: 100%;
  max-height: 100px;

  padding: 0px;

  background: var(--gray-body-background);
}

#DROPDOWN_WINDOW > div {
  display: flex;
  flex-direction: row;

  align-items: center;
}

#DROPDOWN_WINDOW > div:hover {
  background: rgb(225, 225, 225);
}

#DROPDOWN_WINDOW p {
  margin: 0px;

  padding-left: 8px;

  color: black;
}

.fa-solid::before {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-left: 8px;
}

#SUMMONER_NAME {
  width: 100%;

  border: 0px;

  padding: 4px 0px;
  margin: 0px 16px;

  outline: none;

  font-weight: 800;
}

#SUMMONER_NAME::placeholder {
  font-weight: 400;
}

#SEARCH_BUTTON,
#SUBMIT_BUTTON {
  height: 35px;
  width: 80px;

  border: none;
  border-radius: 6px;

  background: black;

  font-family: "Reem Kufi", sans-serif;
  color: white;
}

#MID_CONTAINER h2 {
  margin: 0px 0px 40px;
}

#MID_CONTAINER h3 {
  margin: 12px 0px;
}

#MID_CONTAINER p {
  margin: 0px 0px 40px;
}

#FEATURES.is-hidden {
  display: none;
}

#BOT_CONTAINER > div:first-child {
  background: var(--gray-background);
}

#BOT_CONTAINER img {
  width: 300px;
  height: 80px;

  object-fit: cover;
  object-position: -50% 100%;

  display: none;
}

#NEWSLETTER {
  padding: 12px 0px;
}

#NEWSLETTER > h2 {
  margin: 0px 0px 12px;
}

#NEWSLETTER > p {
  margin: 0px 0px 6px;
}

#NEWSLETTER > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#EMAIL {
  width: 200px;
  height: 35px;

  padding: 0px 12px;

  border-radius: 8px;

  border: 1px solid var(--gray-color);
  outline: none;

  margin: 12px 0px;
}

#SUBMIT_BUTTON {
  margin-bottom: 0px;
}

#SOCIAL_NETWORKS {
  margin-top: 50px;
}

#SOCIAL_NETWORKS > div {
  display: flex;
  flex-direction: row;

  justify-content: center;

  gap: 24px;
}

/* Player stats */

#PLAYER_STATS h3,
#PLAYER_STATS h5,
#PLAYER_STATS p {
  margin: 0px;
}

#PLAYER_STATS h5 {
  font-weight: 400;
}

#PLAYER_STATS p {
  color: var(--gray-color);
}

#PLAYER_STATS > section:first-child {
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;

  margin-bottom: 42px;
}

#PLAYER > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 120px;
  height: 120px;

  background: gray;

  border-radius: 50%;
}

#PLAYER img {
  width: 110px;
  height: 110px;

  border-radius: 50%;
}

#PLAYER_STATS > section > div:nth-child(2) {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 8px;
}

#PLAYER_STATS > section > div:nth-child(2) > div:nth-child(2) {
  width: 80%;
  height: 0.1px;

  background: rgb(200, 200, 200);
}

/* Division y winrate */
#PLAYER_STATS > section > div:nth-child(2) > div:last-child {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  gap: 8px;
}

/* Match */

#MATCH > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  gap: 12px 24px;

  margin: 0px 4px 42px;
}

#MATCH > div > div:first-child {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  max-width: 100px;
}

.match-champ-icon > img {
  width: 65px;
  height: 65px;

  border-radius: 50%;
}
.spells-container > img {
  width: 25px;
  height: 25px;

  border-radius: 4px;
}

/* Result */
#MATCH > div > div:nth-child(2) {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: center;

  gap: 12px;

  letter-spacing: 1px;
}

.division {
  border-radius: 6px;

  padding: 0px 8px;

  background: cornflowerblue;
}

.division > h3 {
  color: white;

  font-weight: 400;

  font-size: small;
}

.score {
  width: 90%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  gap: 12px;
}

.score > h3 {
  color: rgb(70, 70, 70);
}

.score > h3:first-child {
  font-weight: 600;

  letter-spacing: 2px;
}
.score > h3:nth-child(2) {
  font-size: 20px;

  font-size: 16px;
}
.score > h6 {
  margin: 0px;

  font-weight: 400;

  color: rgb(120, 120, 120);
}
.score > div {
  width: 0.1px;
  height: 50%;

  background: rgb(200, 200, 200);
}

/* Items */

.items {
  display: flex;
  flex-direction: column;

  gap: 12px;
}

.items > h3,
.players h3 {
  color: rgb(70, 70, 70);
}

.items-container {
  display: grid;
  grid-template-columns: repeat(4, 30px);
  grid-template-rows: repeat(2, 30px);

  gap: 4px;
}

.items-container img {
  border-radius: 8px;
}

.item1 {
  order: 1;
}
.item2,
.item3 {
  order: 2;
}
.item7 {
  order: 3;
}
.item4,
.item5,
.item6 {
  order: 4;
}

/* Players */

.players > div {
  display: flex;
  flex-direction: column;

  gap: 12px;
}

.champs-container {
  display: grid;
  grid-template-columns: repeat(5, 30px);
  grid-template-rows: repeat(2, 30px);

  gap: 4px;
}

.champs-container > div {
  width: 30px;
  height: 30px;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid orange;
  border-radius: 50%;

  box-sizing: border-box;

  overflow: hidden;
}

.player > img {
  width: 110%;
  height: 110%;

  border-radius: 50%;

  position: 50% 50%;

  object-fit: cover;
}
