:root {
  --gray-color: rgb(170, 170, 170);

  --gray-background: rgb(220, 220, 220);

  --gray-body-background: rgb(235, 235, 235);

  --nunito-font: "Nunito", sans-serif;

  --poppins-font: "Poppins", sans-serif;
}

body {
  background: var(--gray-body-background);

  font-family: "Poppins", sans-serif;

  margin: 0px;
}

p {
  font-weight: 400;
  font-size: 10px;

  text-align: center;

  margin: 30px 4px;

  color: rgb(100, 100, 100);
}

h2,
h3 {
  text-align: center;
}

.icon {
  display: flex;
  justify-content: center;
}

.icon > div {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 55px;
  height: 55px;

  border-radius: 50%;

  background: var(--gray-background);
}

.icon img {
  width: 40px;
  height: 40px;
}

.region-button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 20px;
  width: 20px;

  margin: 4px;
  padding: 4px;

  background: black;
  border-radius: 4px;

  color: white;
  font-size: 12px;

  text-transform: uppercase;
}

.is-hidden {
  display: none;
}

/* match dropdown */

#ALL_PLAYERS.is-hidden {
  display: none;
}

#EXPAND-MATCH-BUTTON.expanded {
  transform: rotateZ(180deg);
}

#EXPAND-MATCH-BUTTON {
  transform: rotateZ(0deg);
}
/* */
/* email sent */

.email-sent {
  display: none;
}

#EMAIL_SENT {
  display: none;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  position: relative;
  z-index: 1;
}

#EMAIL_SENT.email-sent {
  display: flex;
}

#EMAIL_SENT.email-sent img {
  display: block;
}

/* */


#TOP_CONTAINER {
  display: flex;
  flex-direction: column-reverse;
}

#MID_CONTAINER {
  margin: 70px 8px 0px;
}

#BOT_CONTAINER {
  position: relative;

  margin: 100px 0px 100px;

  height: 190px;

  background: var(--gray-background);
}

#TOP_BAR {
  height: 15px;
  width: 125px;

  left: 144px;
  top: 26px;

  margin: 30px 0px;

  border-radius: 0px;

  background: var(--gray-background);
}

#HEIMER_IMG {
  max-width: 100%;
  height: auto;
}

#SUMMONER_SEARCHER {
  margin: 0px 8px;
}

#SUMMONER_SEARCHER > div:nth-child(2) h1 {
  text-align: center;

  font-weight: 800;
  font-size: 30px;

  margin: 30px 0px;
}

#SUMMONER_SEARCHER > div:nth-child(4) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#SUMMONER_SEARCHER > div:nth-child(4) > div:first-child {
  position: relative;

  display: flex;
  flex-direction: row;

  width: 90%;
  height: 35px;

  align-items: center;

  border: 1px solid var(--gray-color);
  border-radius: 8px;

  gap: 8px;

  margin-bottom: 12px;
  padding: 0px 6px;

  background: white;

  font-family: "Poppins", sans-serif;
}

#DROPDOWN_BUTTON {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-width: 0px;
  padding: 0px;
  margin: 0px;

  background: none;
}

#DROPDOWN_WINDOW.not-showing {
  display: none;
}

#DROPDOWN_WINDOW {
  position: absolute;
  display: flex;
  flex-direction: column;

  top: 45px;
  left: 0px;

  gap: 6px;

  width: 100%;
  max-height: 100px;

  padding: 0px;

  background: var(--gray-body-background);
}

#DROPDOWN_WINDOW > div {
  display: flex;
  flex-direction: row;

  align-items: center;
}

#DROPDOWN_WINDOW > div:hover {
  background: rgb(225, 225, 225);
}

#DROPDOWN_WINDOW p {
  margin: 0px;

  padding-left: 8px;

  color: black;
}

.fa-solid::before {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-left: 8px;
}

#SUMMONER_NAME {
  width: 100%;

  border: 0px;

  padding: 4px 0px;
  margin: 0px 16px;

  outline: none;

  font-weight: 800;
}

#SUMMONER_NAME::placeholder {
  font-weight: 400;
}

#SEARCH_BUTTON,
#SUBMIT_BUTTON {
  height: 35px;
  width: 80px;

  border: none;
  border-radius: 6px;

  background: black;

  font-family: "Reem Kufi", sans-serif;
  color: white;
}

#MID_CONTAINER h2 {
  margin: 0px 0px 40px;
}

#MID_CONTAINER h3 {
  margin: 12px 0px;
}

#MID_CONTAINER p {
  margin: 0px 0px 40px;
}

#BOT_CONTAINER > img:first-child {
  position: absolute;

  height: 100%;

  opacity: .3;

  top: 0;
  left: -200px;

  z-index: 0;
}

#NEWSLETTER {
  position: relative;

  padding: 12px 0px;

  z-index: 1;
}

#NEWSLETTER > h2 {
  margin: 0px 0px 12px;
}

#NEWSLETTER > p {
  margin: 0px 0px 6px;
}

#NEWSLETTER > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#EMAIL {
  width: 200px;
  height: 35px;

  padding: 0px 12px;

  border-radius: 8px;

  border: 1px solid var(--gray-color);
  outline: none;

  margin: 12px 0px;
}

#SUBMIT_BUTTON {
  margin-bottom: 0px;
}

#SOCIAL_NETWORKS {
  margin-top: 50px;
}

#SOCIAL_NETWORKS > div {
  display: flex;
  flex-direction: row;

  justify-content: center;

  gap: 24px;
}

/* Player stats */

#PLAYER_STATS h3,
#PLAYER_STATS h5,
#PLAYER_STATS p {
  margin: 0px;
}

#PLAYER_STATS h5 {
  font-weight: 400;
}

#PLAYER_STATS p {
  color: var(--gray-color);
}

#PLAYER_STATS > section:first-child {
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;

  margin-bottom: 18px;
}

#PLAYER > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 120px;
  height: 120px;

  background: gray;

  border-radius: 50%;
}

#PLAYER img {
  width: 110px;
  height: 110px;

  border-radius: 50%;
}

#PLAYER_STATS > section:not(#BEST) > div:nth-child(2) {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 8px;
}

#PLAYER_STATS > section:not(#BEST) > div:nth-child(2) > div:nth-child(2) {
  width: 80%;
  height: 0.1px;

  background: rgb(200, 200, 200);
}

/* Division y winrate */
#PLAYER_STATS > section:not(#BEST) > div:nth-child(2) > div:last-child {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  gap: 8px;
}

/* Match */

#MATCH > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  gap: 8px 16px;

  margin: 0px 4px 20px;
}

#MATCH > div > div:first-child {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;

  height: 105px;
}

#MATCH > div > div:nth-child(2) > div:nth-child(3) {
  width: 25%;
  height: 0.3px;
  background: rgb(200, 200, 200);
  margin-top: 9px;
}

#MATCH > div > div:nth-child(1),
#MATCH > div > div:nth-child(2),
#MATCH > div > div:nth-child(3),
#MATCH > div > div:nth-child(4) {
  width: 40%;
}

.match-champ-icon > img {
  width: 65px;
  height: 65px;

  border-radius: 50%;
}
.spells-container > img {
  width: 25px;
  height: 25px;

  border-radius: 4px;
}

/* Result */

#MATCH > div > div:nth-child(2) {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;

  height: 105px;

  gap: 12px;
}

.division {
  width: fit-content;
  padding: 0px 6px;
}

/* #MATCH > div > div > div:nth-child(2):not(.spells-container) {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 12px;

  letter-spacing: 1px;
} */

.division {
  border-radius: 6px;

  padding: 0px 8px;

  background: cornflowerblue;
}

.division > h3 {
  color: white;

  font-weight: 400;

  font-size: small;
}

.score {
  width: 40%;
  height: 145px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  gap: 6px;
}
.score > div {
  display: none;
}

.score > h3 {
  color: rgb(70, 70, 70);
}

.score > h3:first-child {
  font-weight: 600;

  letter-spacing: 2px;
}
.score > h3:nth-child(2) {
  font-size: 20px;

  font-size: 16px;
}
.score > h6 {
  margin: 20px 0px 0px;

  font-weight: 400;

  color: rgb(120, 120, 120);
}
.score > div {
  width: 0.1px;
  height: 50%;

  background: rgb(200, 200, 200);
}

/* Items */

.items {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 145px;

  gap: 12px;

  position: relative;

  top: -18px;
}

.items > h3,
.players h3 {
  color: rgb(70, 70, 70);
}

.items-container {
  display: grid;
  grid-template-columns: repeat(3, 30px);
  grid-template-rows: repeat(3, 30px);

  gap: 4px;
}

.items-container img {
  border-radius: 6px;
}

.item1 {
  order: 1;
}
.item2,
.item3 {
  order: 2;
}
.item7 {
  order: 4;

  grid-column-start: 2;
}
.item4,
.item5,
.item6 {
  order: 3;
}

/* Players */

.players > div {
  display: flex;
  flex-direction: column;

  gap: 12px;
}

.champs-container {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  grid-template-rows: repeat(2, 40px);

  gap: 4px;
}

.champs-container > div:not(.player) {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border: 2px solid black;
  border-radius: 4px;

  box-sizing: border-box;

  overflow: hidden;
}

.champs-container img {
  width: 42px;
  height: 42px;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid orange;
  border-radius: 50%;

  box-sizing: border-box;

  overflow: hidden;
}

/* Arrow */

#MATCH .fa-solid {
  position: relative;

  width: 35px;
  height: 35px;

  background: black;

  border-radius: 50%;

  top: 20px;
}

#MATCH .fa-solid::before {
  width: 100%;
  height: 100%;

  padding: 0px;

  color: white;
}

/* Best champs and roles */

#BEST {
  display: flex;
  flex-direction: column;
}

#BEST > div {
  display: flex;
  flex-direction: column;
}

#BEST img {
  width: 35px;
  height: 35px;

  border-radius: 50%;
}

#BEST_CHAMPS > div > div,
#BEST_ROLES > div > div {
  display: flex;
  flex-direction: row;

  align-items: center;
}

#BEST h3 {
  font-size: 12px;
}

.champ-1 > div,
.champ-2 > div,
.role-1 > div,
.role-2 > div {
  background: rgb(66, 255, 211);

  padding: 0px 8px;

  margin-left: 12px;

  border-radius: 4px;
}

#BEST_CHAMPS > div,
#BEST_ROLES > div {
  display: flex;
  flex-direction: row;

  justify-content: space-around;

  margin: 8px 0px;

  gap: 12px;
}

#PLAYER_STATS > div {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90%;
  height: 0.5px;

  margin: 14px auto 20px;

  background-color: rgb(200, 200, 200);
}

/* ALL PLAYERS MATCH */

#ALL_PLAYERS {
  display: flex;
  flex-direction: column;
}
#ALL_PLAYERS > div {
  width: 90%;
  height: 0.1px;

  background: rgb(200, 200, 200);

  margin: 0px auto 16px;
}

/* Left side */
#LEFT_SIDE {
  background: rgb(220, 220, 220);
  padding: 8px 0px;
  margin-bottom: 0px;
}

.left {
  display: flex;
  flex-direction: row;

  justify-content: center;

  flex-wrap: wrap;

  gap: 18px;

  margin-bottom: 18px;
}
.left > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;

  border-radius: 50%;

  overflow: hidden;
}
.left > div:nth-child(1) img {
  width: 62px;
  height: 62px;

  object-fit: contain;
}

.left > div:nth-child(2) {
  display: flex;
  flex-direction: row;

  gap: 45px;
}

.left > div:nth-child(3) {
  width: 100%;
}

/* Name and division all players in match */
.left > div:nth-child(2) > div {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
}

/* Name */
.left {
  font-family: var(--nunito-font);
}
.left > div:nth-child(2) > div:nth-child(1) > h3 {
  text-align: start;

  color: #838383;

  font-size: 15px;
}

/* Divison*/
.left > div:nth-child(2) > div:nth-child(1) > div {
  width: fit-content;

  border-radius: 5px;

  background-color: black;

  padding: 4px 12px;
}
.left > div:nth-child(2) > div:nth-child(1) > div > h3 {
  font-weight: 700;

  color: white;

  font-size: 14px;

  letter-spacing: 1px;
}

/* Score and Cs */
.left > div:nth-child(2) > div:nth-child(2) > h3 {
  text-align: end;

  color: #838383;

  font-size: 15px;
}
.left > div:nth-child(2) > div:nth-child(2) > h3:nth-child(2) {
  font-weight: 500;
}

/* Items */
.left > div:nth-child(3) {
  display: flex;

  align-items: center;
  justify-content: center;

  gap: 4px;
}

.left > div:nth-child(3) img {
  width: 35px;
  height: 35px;

  object-fit: contain;

  border-radius: 6px;
}
.left > div:nth-child(3) img:nth-child(7) {
  grid-column-start: 2;
}

/* Separators */
#LEFT_SIDE > div:nth-child(even) {
  width: 90%;
  height: 0.1px;

  background: rgb(200, 200, 200);

  margin: 0px auto 18px;
}


/* Right side */

/* Left side */
#RIGHT_SIDE {
  padding: 8px 0px;
}

.right {
  display: flex;
  flex-direction: row;

  justify-content: center;

  flex-wrap: wrap;

  gap: 18px;

  margin-bottom: 18px;
}
.right > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;

  border-radius: 50%;

  overflow: hidden;
}
.right > div:nth-child(1) img {
  width: 62px;
  height: 62px;

  object-fit: contain;
}

.right > div:nth-child(2) {
  display: flex;
  flex-direction: row;

  gap: 45px;
}

.right > div:nth-child(3) {
  width: 100%;
}

/* Name and division all players in match */
.right > div:nth-child(2) > div {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
}

/* Name */
.right {
  font-family: var(--nunito-font);
}
.right > div:nth-child(2) > div:nth-child(1) > h3 {
  text-align: start;

  color: #838383;

  font-size: 15px;
}

/* Divison*/
.right > div:nth-child(2) > div:nth-child(1) > div {
  width: fit-content;

  border-radius: 5px;

  background-color: black;

  padding: 4px 12px;
}
.right > div:nth-child(2) > div:nth-child(1) > div > h3 {
  font-weight: 700;

  color: white;

  font-size: 14px;

  letter-spacing: 1px;
}

/* Score and Cs */
.right > div:nth-child(2) > div:nth-child(2) > h3 {
  text-align: end;

  color: #838383;

  font-size: 15px;
}
.right > div:nth-child(2) > div:nth-child(2) > h3:nth-child(2) {
  font-weight: 500;
}

/* Items */
.right > div:nth-child(3) {
  display: flex;

  align-items: center;
  justify-content: center;

  gap: 4px;
}

.right > div:nth-child(3) img {
  width: 35px;
  height: 35px;

  object-fit: contain;

  border-radius: 6px;
}
.right > div:nth-child(3) img:nth-child(7) {
  grid-column-start: 2;
}

/* Separators */
#RIGHT_SIDE > div:nth-child(even) {
  width: 90%;
  height: 0.1px;

  background: rgb(200, 200, 200);

  margin: 0px auto 18px;
}